.btn_blue {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #15A4DE;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.btn_blue:hover {
  color: #ffffff;
  background-color: #1B5871;
  text-decoration: none;
}

body {
  background: #f5f5f5;
}

.top_line {
  min-height: 120px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 0 !important;
}

.top_line .logo_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top_line .logo_block img {
  width: 15%;
  margin-bottom: 10px;
}

.top_line .stat_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.top_line .stat_block .num_red {
  color: #E34021;
}

.top_line .stat_block .num_blue {
  color: #15A4DE;
}

.top_line .stat_block b {
  font-size: 50px;
  font-weight: bolder;
  padding-bottom: 15px;
  margin: 10px !important;
}

.top_line .stat_block p {
  font-size: 16px;
  max-width: 300px;
}

.main_block {
  margin-bottom: 0 !important;
  padding-bottom: 30px !important;
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.main_block .preds {
  background-image: url("../img/preds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 300px;
  max-height: 300px;
  padding-bottom: 30px;
  padding-left: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.main_block .preds h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.main_block .stance_slider {
  padding-left: 15px !important;
  padding-right: 0 !important;
}

.main_block .stance_slider .carousel-caption {
  right: 50px !important;
  left: 50px !important;
}

.main_block .stance_slider .carousel-item {
  min-height: 300px !important;
  max-height: 300px !important;
  text-align-last: left !important;
}

.main_block .stance_slider .carousel-item h2 {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}

.main_block .stance_slider .carousel-item img {
  min-height: 380px !important;
  max-height: 400px !important;
}

.second_line {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.second_line ul {
  list-style: none;
  padding: 0px !important;
  margin-bottom: 0 !important;
}

.second_line ul li {
  font-size: 18px;
  font-weight: bold;
  padding: 5px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.second_line ul li:hover {
  background-color: #1B5871;
}

.second_line hr {
  border: 1px solid #fff;
  width: 80%;
  margin: 10px auto;
}

.second_line .left_sidebar {
  padding: 0 !important;
  min-height: 600px;
}

.second_line .left_sidebar .btn_red {
  text-decoration: none;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  height: 40px;
}

.second_line .left_sidebar .left_menu_block {
  color: #ffffff;
  padding: 30px;
  background-color: #15A4DE;
  min-height: 550px;
  max-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10px;
}

.second_line .left_sidebar .left_menu_block .left_sidebar_item {
  text-decoration: none;
  color: #ffffff;
}

.second_line .left_sidebar .left_menu_block b {
  color: #ffffff;
  font-size: 18px;
}

.second_line .left_sidebar .left_menu_block div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

.second_line .left_sidebar .left_menu_block div a {
  text-decoration: none;
  color: #ffffff;
}

.second_line .right_sidebar {
  background-color: #15A4DE;
  padding: 30px;
  min-height: 600px;
}

.second_line .right_sidebar .drop {
  background-color: #20BFFF;
}

.second_line .right_sidebar .drop li {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.second_line .right_sidebar .drop li:hover {
  background-color: #1B5871;
}

.second_line .right_sidebar .drop li a {
  font-size: 16px;
  font-weight: normal;
}

.second_line .right_sidebar a {
  text-decoration: none;
  color: #ffffff;
}
/*# sourceMappingURL=main.css.map */