@import 'normalize'
@import 'mixin'


.btn_blue
    +btn_blue()


body
    background: #f5f5f5


.top_line
    min-height: 120px
    padding-top: 20px
    padding-bottom: 20px
    margin-bottom: 0 !important

        
    .logo_block
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
        img
            width: 15%
            margin-bottom: 10px

    .stat_block
        display: flex
        justify-content: center
        flex-direction: row
        align-items: center
        padding-top: 20px

        .num_red
            color: $red_color
        
        .num_blue
            color: $blue_color
        b
            font-size: 50px
            font-weight: bolder
            padding-bottom: 15px
            margin: 10px !important
            
        p
            font-size: 16px
            max-width: 300px


.main_block
    margin-bottom: 0 !important
    padding-bottom: 30px !important
    margin-top: 0 !important
    padding-top: 0 !important

    .preds
        background-image: url('../img/preds.jpg')
        background-size: cover
        background-repeat: no-repeat
        background-position: top
        min-height: 300px
        max-height: 300px
        padding-bottom: 30px
        padding-left: 60px
        display: flex
        flex-direction: column
        justify-content: flex-end
        align-items: start
        
        h2

            font-size: 20px
            font-weight: bold
            color: #ffffff

    .stance_slider
        padding-left: 15px !important
        padding-right: 0 !important
        .carousel-caption
            right: 50px !important
            left: 50px !important
        .carousel-item
            min-height: 300px !important
            max-height: 300px !important
            text-align-last: left !important
            h2
                font-size: 20px
                font-weight: bold
                color: #ffffff
            img
                min-height: 380px !important
                max-height: 400px !important

.second_line
    margin-top: 0 !important
    padding-top: 0 !important
    ul
        list-style: none
        padding: 0px !important
        margin-bottom: 0 !important
        li
            font-size: 18px
            font-weight: bold
            padding: 5px
            transition: 0.4s
            &:hover
                background-color: $hover_btn


    hr
        // background-color: #ffffff
        border: 1px solid #fff
        width: 80%
        margin: 10px auto

    .left_sidebar
        
        padding: 0 !important
        min-height: 600px

        .btn_red
            text-decoration: none
            background-color: red
            display: flex
            align-items: center
            
            justify-content: center
            color: #ffffff
            font-size: 18px
            font-weight: bold
            height: 40px

        .left_menu_block
            color: #ffffff
            padding: 30px
            background-color: $blue_color
            min-height: 550px
            max-height: 550px
            display: flex
            flex-direction: column
            justify-content: space-around
            margin-bottom: 10px

            .left_sidebar_item
                text-decoration: none
                color: #ffffff
            b
                color: #ffffff
                font-size: 18px
            div
                display: flex
                flex-direction: column
                text-align: right
                a
                    text-decoration: none
                    color: #ffffff
    .right_sidebar
        background-color: $blue_color
        padding: 30px
        
        min-height: 600px
        .drop
            background-color: $hover_light
            li
                transition: 0.4s
                &:hover
                    background-color: $hover_btn
                a
                    font-size: 16px
                    font-weight: normal
                
        a
            text-decoration: none
            color: #ffffff


.last_news

    h2
        font-size: 40px
        font-weight: bold
        padding-bottom: 30px
    .post
        display: flex
        flex-direction: row
        justify-content: start
        padding: 0 !important
        img
            width: 250px
            position: relative

        .post_text
            width: 70%
            padding: 30px
            align-self: center
            h3
                font-weight: bold
                font-size: 28px
    .all_news
        margin: 0 auto
        display: block
        width: 173px
        margin-top: 30px
        text-align: center
          
.docs

    h2
        font-size: 40px
        font-weight: bold
        padding-bottom: 30px

    .doc_item
        padding: 30px

    .all_docs
        margin: 0 auto
        display: block
        width: 173px
        margin-top: 30px
        text-align: center


footer
    background: $blue_color
    padding-top: 50px
    padding-bottom: 50px
    ul
        list-style: none
        li
            padding-top: 10px
            color: #ffffff
            font-weight: bold
            font-size: 18px        
            a
                text-decoration: none
                color: #ffffff

            .contact_list_item
                font-weight: normal !important
                padding-left: 40px
                



        
            

@media screen and ( max-width: 575.98px )
    .main_block
        margin-top: 75px !important
        h2
            font-size: 50px
        .stance_slider
            padding: 0 !important
            width: 100%

        .preds
            padding: 15px
    

@media screen and ( max-width: 767.98px )
   .main_block
        margin-top: 75px !important
        h2
            font-size: 50px
        .stance_slider
            padding: 0 !important
            width: 100%

    
        .preds
            padding: 15px
        .post
            display: flex
            flex-direction: column
            img
                display: block !important
                position: relative
                max-width: 100% !important
                min-width: 100%
                margin: 0
    .left_sidebar, .right_sidebar
        box-shadow: none !important

    

@media screen and ( max-width: 1199.98px )
    .left_sidebar, .right_sidebar 
        display: block !important
        box-shadow: none
        
    .main_block
        h2
            font-size: 50px
        .stance_slider
            padding: 0 !important
            width: 100%
            margin-bottom: 30px

            .carousel-item
                min-height: 450px !important
                max-height: 450px !important
                text-align-last: left !important
                h2
                    font-size: 20px
                    font-weight: bold
                    color: #ffffff
                img
                    min-height: 450px !important
                    max-height: 450px !important

        .preds
            padding: 15px
            margin-bottom: 30px
            min-height: 450px !important
            max-height: 450px !important
        
    .video_block
        padding: 0
        margin-top: 15px


    .post
        display: flex
        flex-direction: column !important
        img
            position: relative
            width: 100% !important
            margin: 0




@media screen and ( max-width: 1400px )
    .left_sidebar, .right_sidebar 
        display: block !important



     
        

        
            
